#game-board {
    height: 100vh;
    border: 5px solid #333;
    background-color: #eee;
    display: flex;
    flex-direction: column-reverse;
    background-image: url('profil.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 70vw;
    min-width: 70vw;
    width: 70vw;
}

#game-over-container {
    background-image: url("losePageImage.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 95vh;
    display: none;
    text-align: center;
    margin-top: 50px;
    font-size: 50px;
}
#win-container {
    background-image: url("winPageImage.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 95vh;
    display: none;
    text-align: center;
    margin-top: 50px;
    font-size: 50px;
}
.block {
    width: 3vw;
    min-width: 3vw;
    height: 3vw;
    max-height: 3vw;
    border: 1px solid #000;
    float: left;
    margin: 1px;
}
.green {
    background-color: #0f0;
    opacity: 0.75;
}
.blue {
    background-color: #00f;
    opacity: 0.75;
}
.red {
    background-color: #f00;
    opacity: 0.75;
}

.row {
    display: flex;
    max-width: 95wv;
    min-width: 95wv;
}

.block:hover {
    background-color: purple;
    cursor: pointer;
}

#game-container {
    display: flex;
    
}

#points-container {
    text-align: center;
    width: 30%;
    height: 97vh;
    padding: 20px;
    border: 5px solid #333;
    background-color: #fff;
    font-size: 40px;
}

.description{
    font-size: 28px;
}

#leaderboard-body {
    width: 100%;
    border-collapse: collapse;
    border: 2px solid #ddd;
    font-family: Arial, sans-serif;
  }
  
  /* Style for table header */
  #leaderboard-body th {
    background-color: #f2f2f2;
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  /* Style for table rows */
  #leaderboard-body tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  #leaderboard-body tr:hover {
    background-color: #ddd;
  }
  
  /* Style for table data cells */
  #leaderboard-body td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  /* Style for table data cells when empty */
  #leaderboard-body td:empty {
    color: #999;
    font-style: italic;
  }